body {
    background-color: #ff0101;
    color: rgb(254, 254, 254);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encabezado {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contenido {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    position: relative; 
    width: 100%; 
    max-width: 600px;
}

.video-container video {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    background-color: #fff; 
    border: none; 
    cursor: pointer; 
    font-size: 24px; 
    color: #000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.play-button:hover {
    background-color: #f0f0f0; 
}
